html,body{
margin: 0;
box-sizing:border-box;
padding: 0;

}

.container{
    height: 100vh;
    width: 100wh;
    background-color: bisque;
    position: relative;
    display: flex;
    overflow: hidden;
}

.nav-bar{
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    top: 0%;
}

.adv-section{
    width: 80%;
    height: 80%;
    display: flex;
    background-color: aqua;
}